.App {
  margin: 2% auto;
  padding: 10px 20px 20px;
}

.twitter {
  color: #fff;
}

.this,
.that {
  background-color: Transparent;
  border: none;
  color: #2c9e36;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
  outline: none;
  overflow: hidden;
  padding-bottom: 15px;
}

.for {
  color: #2c9e36;
  font-size: 40px;
  padding-bottom: 20px;
}
